@color1: #eee;
@color2: #eee;
@color3: #eee; // darker
@color4: #222; // darkest
@color5: #eee; // links

* {
  font-family: 'Source Sans Pro', serif;
}

a {
  color: @color5;
}

html,
body {
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #444;
}

table.menu td {
  text-align: left;
}

table.menu span {
  font-weight: bold;
}
table.menu p {
  color: #aaa;
}

.orange {
  background-color: #F27827;
  box-shadow: inset 0 0 100px rgba(0,0,0,.15);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 9em;
  padding: 0;
  margin-top: -20px;
  margin-bottom: -20px;
}

.top-row {
  padding-top: 2em;
}

#top {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.map {
  padding: 0;
  border: 1px solid rgba(0,0,0,.2);
  height: 302px;
}

.mid-size {
  font-size: 1.25em;
}

.sub-title {
  font-weight: bold;
  font-size: 2.75em;
  margin-top: -10px;
  margin-bottom: -10px;
}

blockquote {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: left;
  footer {
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
    text-align: right;
    color: #ccc;
  }
}

.orange {
  blockquote {
    footer {
      color: #eee;
    }
  }
}

.special-callout {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.25em;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .icon {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 0.5em;
    width: 15%;
    .label {
      font-size: 1em;
      font-style: italic;
    }
    .glyphicon {
      font-size: 2em;
    }
  }
  .desc {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.carousel-control {
  width: 10%;
}
