@color1: #eee;
@color2: #eee;
@color3: #eee; // darker
@color4: #222; // darkest
@color5: #eee; // links

* {
  font-family: 'Source Sans Pro', serif;
}

a {
  color: @color5;
}

body {
  margin: 0;
  padding: 0;
}


.ui.page.segment {
  padding-top: 50px;
  padding-bottom: 50px;
}
