---
layout: default
---
<div class="row">

  <div class="col-md-8">
    <br>
    {% include welcome.html %}
  </div>

  <div class="col-md-4 text-right letterhead text-center">
    <div class="">
      <img class="logo" src="img/camel_plain.svg"></img>
      <hr>
      <h1 class="">GANDHI</h1>
      <hr>
      <ul class="list-inline">
        <li><h2>Menu</h2></li>
        <li><h2>About</h2></li>
        <li><h2>Contact</h2></li>
      </ul>
      <p>
      Open Monday - Friday 11:30 am - 2:30 pm
      </p>
    </div>
  </div> <!-- /col -->
</div> <!-- /row -->

<div class="row">
  <hr>
  {% include carousel.html %}
</div>

<div class="row">
  <hr>
  {% include menu.html %}
</div>
