<div class="row"><div class="row"><div class="col-md-6">
<h2>Appetizers</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Combination Platter</span>
<p>Malai kabab, barrah kabab, chicken tikka & fish tikka</p>
</td>
  <td>$7.95</td>
</tr>
<tr>
  <td><span>Sami Kabob</span>
<p></p>
</td>
  <td>$4.95</td>
</tr>
<tr>
  <td><span>Samosa Chat</span>
<p></p>
</td>
  <td>$4.95</td>
</tr>
<tr>
  <td><span>Samosa (with potatoes and peas)</span>
<p></p>
</td>
  <td>$3.50</td>
</tr>
<tr>
  <td><span>Papadum (thin bean wafers)</span>
<p></p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Vegt. Pakoras</span>
<p>Crispy light fritters with chutneys</p>
</td>
  <td>$3.95</td>
</tr>
<tr>
  <td><span>Aloo Papri</span>
<p>Fritters with potatoes, chickpeas & chutneys</p>
</td>
  <td>$3.95</td>
</tr>
<tr>
  <td><span>Ka-Chori</span>
<p>So good we can't describe it</p>
</td>
  <td>$4.50</td>
</tr>
<tr>
  <td><span>Aloo Tikiya (potato cake with chutney)</span>
<p></p>
</td>
  <td>$3.95</td>
</tr>
<tr>
  <td><span>Assorted Appetizer</span>
<p>Alo tikka, somosa, assorted pakora & papadum</p>
</td>
  <td>$4.95</td>
</tr>
<tr>
  <td><span>Green Salad</span>
<p>Crisp garden fresh salad with house dressing</p>
</td>
  <td>$3.95</td>
</tr>
</table>

<h2>Soup</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Coconut Soup</span>
<p>Cream and coconut cooked in a sweet sauce</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Mulligatawny Soup</span>
<p>Made with lentils, tomato, lemon and spice</p>
</td>
  <td>$2.95</td>
</tr>
</table>

<h2>Breads From Tandoori Clay Oven</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Naan (soft white flour bread)</span>
<p></p>
</td>
  <td>$1.95</td>
</tr>
<tr>
  <td><span>Garlic, Onion, Cheese Naan</span>
<p>bread stuffed</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Paratha</span>
<p>A multi layered bread made with butter</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Khandari Naan</span>
<p>Soft white bread made with almonds, raisins & assorted fruits</p>
</td>
  <td>$3.95</td>
</tr>
<tr>
  <td><span>Aloo Naan</span>
<p>Stuffed bread with potatoes & light spices</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Roti or Chappati</span>
<p>Roasted white bread from tandoori clay oven</p>
</td>
  <td>$1.95</td>
</tr>
<tr>
  <td><span>Puddina Paratha</span>
<p>A soft bread made with fresh mint</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Jalapeno Cheese Naan</span>
<p>Fresh jalapenos and cheese</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Chicken Tikka Naan</span>
<p></p>
</td>
  <td>$2.95</td>
</tr>
</table>

<h2>Breads From The Grill</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Gobi - Ponir - Muli - Aloo - Parathata</span>
<p></p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Poori</span>
<p>Fried or puffed</p>
</td>
  <td>$2.95</td>
</tr>
</table>

<h2>Condiments</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Raita</span>
<p>yogurt with cucumber and carrot</p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Mango Chutney</span>
<p>sweet and sour</p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Mix Pickle</span>
<p>Medium spicy</p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Mango or Lime Pickle</span>
<p>Hot and Spicy</p>
</td>
  <td>$1.50</td>
</tr>
</table>
</div>
<div class="col-md-6">
<h2>Beverages</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Lassi/Coconut Lassi</span>
<p>Yogurt drink served with rose water</p>
</td>
  <td>$2.50</td>
</tr>
<tr>
  <td><span>Mango Lassi</span>
<p>Refreshing mango & yogurt drink</p>
</td>
  <td>$2.50</td>
</tr>
<tr>
  <td><span>Soda</span>
<p></p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Tea or Coffee</span>
<p></p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Juices</span>
<p>Mango, Cranberry, Orange or Guave</p>
</td>
  <td>$1.75</td>
</tr>
<tr>
  <td><span>Masala Tea</span>
<p>Tea made with spice and milk</p>
</td>
  <td>$2.50</td>
</tr>
<tr>
  <td><span>Doodh Patti</span>
<p>Tea made with milk</p>
</td>
  <td>$2.50</td>
</tr>
<tr>
  <td><span>Spice Tea</span>
<p>Tea made with cardamoin and cinnamon</p>
</td>
  <td>$1.50</td>
</tr>
<tr>
  <td><span>Home Made Ice Tea</span>
<p></p>
</td>
  <td>$1.95</td>
</tr>
</table>

<h2>Desserts</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Kheer</span>
<p>Indian rice pudding flavored with rose water, garnished with pistachios</p>
</td>
  <td>$2.25</td>
</tr>
<tr>
  <td><span>Rasmalai</span>
<p>Home made cheese ball in cream sauce with nuts</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Mango Ice Cream</span>
<p>served with flavored rose water</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Kulfi</span>
<p>Home made Indian Ice cream</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Baklava</span>
<p>Walnuts and almonds covered with filo</p>
</td>
  <td>$1.95</td>
</tr>
<tr>
  <td><span>Gulab Jaaman</span>
<p></p>
</td>
  <td>$2.95</td>
</tr>
</table>

<h2>Chicken Entrees</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Methi Chicken</span>
<p>Chicken cooked with Indian fresh leaf</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Tikka Masala</span>
<p>Broiled chicken cubes cooked with tomato & cream sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Kali Mirch</span>
<p>Chicken cooked with black pepper and onion with curry sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Makhani</span>
<p>Boneless roasted chicken cooked in fresh tomato sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Saagwala</span>
<p>Chicken cooked with fresh spinach & enhanced with herbs</p>
</td>
  <td>$9.95</td>
</tr>
<tr>
  <td><span>Chili Chicken</span>
<p>Coked with Indian fresh chili</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Maki Masala</span>
<p></p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Korma</span>
<p>$10.95</p>
</td>
  <td>Cooked with cream & almond in a flavored mild sauce</td>
</tr>
<tr>
  <td><span>Chicken Jalfrazi</span>
<p>Cooked with fresh assorted vegetables, mild spice</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Vindaloo</span>
<p>Bonless chicken cooked in a very hot sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Dopiaza</span>
<p>Boneless chicken cooked with onion and gren pepper in a flavored sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Karahi</span>
<p>Cooked with tomatoes and onion in a special sauce and served in a hot pan</p>
</td>
  <td>$11.95</td>
</tr>
<tr>
  <td><span>Chicken Madras</span>
<p>In medium sauce cooked with tomatoes</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Achari</span>
<p>Curry chicken cooked with pickle</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Chicken Curry</span>
<p>Boneless chicken cooked in mild curry sauce</p>
</td>
  <td>$9.95</td>
</tr>
</table>
</div>
</div>
<div class="col-md-6">
<h2>Lamb or Beef Dishes</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Punjabi Lamb Korma</span>
<p>Lamb cooked with garlic ginger and spice</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb Tikki Masala</span>
<p>Cream sauce with onions and peppers</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Curry</span>
<p>Lean meat cooked in mild curry sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Saagwala</span>
<p>Cooked with fresh spinach and enhanced with herbs</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Vindaloo</span>
<p>Meat cooked in very hot sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Dopiaza</span>
<p>Meat cooked with onion, green pepper and tomatoes in flavored sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Jalfrazi</span>
<p>Meat cooked with fresh vegetables in a mild sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Korm</span>
<p>Cooked with cream & almonds in a flavored mild sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Karahi</span>
<p>Cooked with green peppers, tomatoes, onions in a special sauce and severed in hot pan</p>
</td>
  <td>$11.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Madras</span>
<p>Meat cooked with tomatoes in a medium spicy sauce</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Lamb or Beef Rogan Josh</span>
<p>Cooked with flavored garlic & ginger sauce</p>
</td>
  <td>$10.95</td>
</tr>
</table>

<h2>Biryani Dishes</h2>
<table class="table table-striped menu">
<tr>
  <td><span>White Rice</span>
<p></p>
</td>
  <td>$1.95</td>
</tr>
<tr>
  <td><span>Basmati Safron Rice</span>
<p></p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Vegetable Rice</span>
<p>Basmati rice cooked with fresh vegetables</p>
</td>
  <td>$2.95</td>
</tr>
<tr>
  <td><span>Chicken Biryani</span>
<p>Chicken cooked with saffron rice, ghee, raisin, almond & pistachio</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Beef or Lamb Biryani</span>
<p>Lamb or beef cooked with saffron rice, ghee, raisin, almond & pistachio nut</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Shirmp Biryani</span>
<p>Shrimp cooked with saffron rice, ghee, raisin, almond & pistachio nut</p>
</td>
  <td></td>
</tr>
<tr>
  <td><span>Vegetable Biryani</span>
<p>Assorted Vegetables cooked with saffron rice, ghee, raisin, almond & pistachio nut</p>
</td>
  <td>$10.95</td>
</tr>
<tr>
  <td><span>Ghandi Biryani</span>
<p>Assortment of Chicken, Lamb and Beef</p>
</td>
  <td>$11.95</td>
</tr>
</table>

<h2>Sea Food Specialties</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Goa or Salmon Curry</span>
<p>Fresh fish cooked in coconut & cream sauce</p>
</td>
  <td>$14.95</td>
</tr>
<tr>
  <td><span>Malabar Salmon</span>
<p>Fish cooked with mustard sauce</p>
</td>
  <td>$14.95</td>
</tr>
<tr>
  <td><span>Shrimp Curry</span>
<p>Prepared in authentic sauce and flavor</p>
</td>
  <td>$14.95</td>
</tr>
<tr>
  <td><span>Shrimp Jalfrazi</span>
<p>Cooked with assorted vegetables in a lightly spicy sauce</p>
</td>
  <td>$14.95</td>
</tr>
<tr>
  <td><span>Shrimp Mushroom or Spinach</span>
<p>Shrimp cooked with mushrooms or spinach in a lightly spicy sauce</p>
</td>
  <td>$14.95</td>
</tr>
<tr>
  <td><span>Crab Masala</span>
<p>Cooked with fresh coconut & spices</p>
</td>
  <td>$14.95</td>
</tr>
<tr>
  <td><span>Shrimp Tikki Masla</span>
<p></p>
</td>
  <td>$14.95</td>
</tr>
</table>
</div>
<div class="col-md-6">
<h2>Vegetarian Entrees</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Achari Begun</span>
<p>Eggplant</p>
</td>
  <td>$9.95</td>
</tr>
<tr>
  <td><span>Mixed Vegetable Curry</span>
<p>Garden fresh vegetables cooked with mild spicy sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Daal Makhani</span>
<p>Stewed black grain lentil cooked with tomato flavor</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Saag or Mattar Ponir</span>
<p>Hommade cheese cooked fresh spinach or peas</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Begun Bartha</span>
<p>Whole eggplant baked in tandoor, cooked with onion & peas</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Allo Dum</span>
<p>Stuffed potatoes cooked in light spicy sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Vegetable Jalfrazi</span>
<p>Sauté assorted vegetables cooked in mild spicy sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Bavaratan Kurma</span>
<p>Assorted vegetables cooked with cream and almonds in highly flavored mild sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Malai Kofta</span>
<p>Vegetable balls cooked with tomatoes in mild garlic & ginger sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Chana Masala</span>
<p>Chick peas cooked with tomatoes and onions</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Bindhi Masala</span>
<p>Fresh okra cooked with mild spicy sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Aloo Gobi</span>
<p>Potato and cauliflower cooked with cumin & spices</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Chana Saag</span>
<p>Chick peas cooked fresh spinach and curry sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Aloo Mottor</span>
<p>Marinated potato and peas cooked with light curry sauce</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Dal Tarka</span>
<p>Split yellow peas cooked with garlic and ginger</p>
</td>
  <td>$8.95</td>
</tr>
<tr>
  <td><span>Ponir Tikka Masala</span>
<p>Broiled homemade cheese cubes cooked with tomatoes and cream sauce</p>
</td>
  <td>$11.95</td>
</tr>
<tr>
  <td><span>Ponir Karahi</span>
<p>Homemade cheese cooked with green peppers, onions, tomatoes, sauce and served in a hot pan</p>
</td>
  <td>$11.95</td>
</tr>
<tr>
  <td><span>Bund Gobialoo</span>
<p>Cabbage cooked with potatoes</p>
</td>
  <td>$8.95</td>
</tr>
</table>

<h2>Tandoori Main Courses</h2>
<table class="table table-striped menu">
<tr>
  <td><span>Ponir Tikki</span>
<p>Hommade cheese</p>
</td>
  <td>11.95</td>
</tr>
<tr>
  <td><span>Resmi Kabab</span>
<p></p>
</td>
  <td>10.95</td>
</tr>
<tr>
  <td><span>Tandoori Chicken</span>
<p>Marinated in yogurt and mild spicy sauce then baked in tandoori clay oven</p>
</td>
  <td>10.95</td>
</tr>
<tr>
  <td><span>Chicken Tikka</span>
<p>Boneless chicken marinated in lightly spiced with yogurt sauce then baked in tandoori clay oven</p>
</td>
  <td>10.95</td>
</tr>
<tr>
  <td><span>Chicken Malai Kabab</span>
<p>Supreme marinated in cream cheese & fresh herbs</p>
</td>
  <td>10.95</td>
</tr>
<tr>
  <td><span>Barrah Kabab</span>
<p>Juicy pieces of lamb marinated in yogurt sauce then baked in tandoori clay oven</p>
</td>
  <td>10.95</td>
</tr>
<tr>
  <td><span>Sheek Kabab</span>
<p>Aromic minced lamb marinated with mild spices then baked in tandoori clay oven</p>
</td>
  <td>10.95</td>
</tr>
<tr>
  <td><span>Mix Grill</span>
<p>Assortments of lamb, chicken & sea food cooked in tandoori clay oven</p>
</td>
  <td>13.95</td>
</tr>
<tr>
  <td><span>Shrimp Tandoori</span>
<p>Marinated with light spicy sauce and cooked in tandoori clay oven</p>
</td>
  <td>14.95</td>
</tr>
<tr>
  <td><span>Fish Tikka</span>
<p>Medallion marinated with very light spices and cooked in tandoori clay oven</p>
</td>
  <td>14.95</td>
</tr>
</table>
</div>
</div>
