<div class="ui grid">
  <div class="eight wide column">
  <table class="ui table segment">
    <thead>
      <tr>
        <th>NON-VEGETARIAN</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>CHICKEN MALAI KABAB</b>
          <p>Supreme marinated cheese and fresh herbs</p>
        </td>
        <td>
          $ 4.95
        </td>
      </tr>
      <tr>
        <td>
          <b>CHICKEN MALAI KABAB</b>
          <p>Supreme marinated cheese and fresh herbs</p>
        </td>
        <td>
          $ 4.95
        </td>
      </tr>
      <tr>
        <td>
          <b>CHICKEN MALAI KABAB</b>
          <p>Supreme marinated cheese and fresh herbs</p>
        </td>
        <td>
          $ 4.95
        </td>
      </tr>
      <tr>
        <td>
          <b>CHICKEN MALAI KABAB</b>
          <p>Supreme marinated cheese and fresh herbs</p>
        </td>
        <td>
          $ 4.95
        </td>
      </tr>
      <tr>
        <td>
          <b>CHICKEN MALAI KABAB</b>
          <p>Supreme marinated cheese and fresh herbs</p>
        </td>
        <td>
          $ 4.95
        </td>
      </tr>
      <tr>
        <td>
          <b>CHICKEN MALAI KABAB</b>
          <p>Supreme marinated cheese and fresh herbs</p>
        </td>
        <td>
          $ 4.95
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="eight wide column">
<table class="ui table segment">
  <thead>
    <tr>
      <th>VEGETARIAN APPETIZERS</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <b>CHICKEN MALAI KABAB</b>
        <p>Supreme marinated cheese and fresh herbs</p>
      </td>
      <td>
        $ 4.95
      </td>
    </tr>
    <tr>
      <td>
        <b>CHICKEN MALAI KABAB</b>
        <p>Supreme marinated cheese and fresh herbs</p>
      </td>
      <td>
        $ 4.95
      </td>
    </tr>
    <tr>
      <td>
        <b>CHICKEN MALAI KABAB</b>
        <p>Supreme marinated cheese and fresh herbs</p>
      </td>
      <td>
        $ 4.95
      </td>
    </tr>
    <tr>
      <td>
        <b>CHICKEN MALAI KABAB</b>
        <p>Supreme marinated cheese and fresh herbs</p>
      </td>
      <td>
        $ 4.95
      </td>
    </tr>
    <tr>
      <td>
        <b>CHICKEN MALAI KABAB</b>
        <p>Supreme marinated cheese and fresh herbs</p>
      </td>
      <td>
        $ 4.95
      </td>
    </tr>
    <tr>
      <td>
        <b>CHICKEN MALAI KABAB</b>
        <p>Supreme marinated cheese and fresh herbs</p>
      </td>
      <td>
        $ 4.95
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
