<section class="orange">
  <div class="container">
    <div class="row top-row">
      <div class="col-md-5">
        <h1 class="title">GANDHI</h1>
        <hr>
        <p class="sub-title">Authentic Indian Cuisine</p>
        <hr>
        <ul class="list-inline mid-size">
          <li>Take Out</li>
          <li>&middot;</li>
          <li>Catering</li>
          <li>&middot;</li>
          <li>Delivery</li>
        </ul>
        <hr>
        <ul class="list-inline mid-size">
          <li><span class="glyphicon glyphicon-phone" title="phone"></span> 518 - 449 - 5577</li>
          <li>&middot;</li>
          <li><span class="glyphicon glyphicon-print" title="fax"></span> 518 - 449 - 8941</li>
        </ul>

        <table class="special-callout">
          <tr>
            <td class="icon">
              <span class="glyphicon glyphicon-star"><span>
            </td>
            <td class="desc">
              Dinner buffet Friday &amp; Saturday from<br>5-9PM for <b>$9.95</b>
            </td>
          </tr>
        </table>

        <table class="special-callout">
          <tr>
            <td class="icon">
              <span class="glyphicon glyphicon-star"><span>
            </td>
            <td class="desc">
              One appetizer Selection & One Entree Selection
              Includes Basmati Rice, Naan, and Desert
              <br>
              <b>$14.95</b>
              **
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.205513079076!2d-73.76336870000003!3d42.657000150000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a30f2a3feb5%3A0xaef77304df0c05fb!2sGandhi+Indian+Restaurant!5e0!3m2!1sen!2sus!4v1391743310930" width="100%" height="600" frameborder="0" style="border:0"></iframe>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>
