<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gandhi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <link rel="stylesheet/less" type="text/css" href="css/app.less" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <section class="orange">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="title">GANDHI</h1>
        </div>
        <div class="col-md-8">
          <ul class="menu list-inline">
            <li>518 - 449 - 5577</li>
            <li><a href="#specials">Specials</a></li>
            <li>Menu</li>
            <li><a href="#contact">Map & Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    {{ content }}
  </div>
  <a id="top" href="#">Top</a>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>
