<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gandhi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <link rel="stylesheet/less" type="text/css" href="css/app.less" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  {% include orange.html %}

  <div class="container">
    <div class="row">
      <div class="md-col-12">
        <h3>Check out what our customers our saying:</h3>
        <blockquote>
          <p><b>The new chef</b> came out and asked us all about the food, with the biggest smile on his face, and the nicest energy I've ever gotten from any chef who did a walk-around. The server went out of her way to make sure we got what we would enjoy, and was very pleasant and attentive.</p>
          <footer>A <cite title="Source Title">Google+</cite> Review</footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>
  <a id="top" href="#">Top</a>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>
